<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imgpicker" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:largeHeap="true">


        <provider
            android:name=".FileUtils"
            android:authorities="com.example.imgpicker.FileUtils"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>


    </application>


</manifest>